<?xml version="1.0" encoding="utf-8"?>
<robot name="fdrone">
    <link name="base_link">
        <inertial>
            <origin xyz="0.00093993 0.00072156 8.0388E-05" rpy="0 0 0" />
            <mass value="0.86" />
            <inertia ixx="0.013314" ixy="-1.3492E-05" ixz="-1.4686E-05" iyy="0.02478" iyz="-1.493E-06" izz="0.013456" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find fdrone)/urdf/meshes/BASELINK.STL" />
            </geometry>
            <material name="">
                <color rgba="0.5 0.1 0.1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find fdrone)/urdf/meshes/BASELINK.STL" />
            </geometry>
        </collision>
    </link>
    <link name="rotor_0">
        <inertial>
            <origin xyz="0.15852 -0.043074 0.15899" rpy="0 0 0" />
            <mass value="0.01" />
            <inertia ixx="0.013314" ixy="-1.3492E-05" ixz="-1.4686E-05" iyy="0.02478" iyz="-1.493E-06" izz="0.013456" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find fdrone)/urdf/meshes/RTLINK.STL" />
            </geometry>
            <material name="">
                <color rgba="0.1 0.1 0.1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find fdrone)/urdf/meshes/RTLINK.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="rotor_0_joint" type="continuous">
        <origin xyz="-0.15758 0.15891 0.11523" rpy="1.5708 0 0" />
        <parent link="base_link" />
        <child link="rotor_0" />
        <axis xyz="0 1 0" />
        <limit effort="3000" velocity="8700" />
        <dynamics damping="0.01" friction="0.001" />
    </joint>
    <link name="rotor_1">
        <inertial>
            <origin xyz="-0.15929 -0.043074 0.15898" rpy="0 0 0" />
            <mass value="0.01" />
            <inertia ixx="0.013314" ixy="-1.3492E-05" ixz="-1.4686E-05" iyy="0.02478" iyz="-1.493E-06" izz="0.013456" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find fdrone)/urdf/meshes/RBLINK.STL" />
            </geometry>
            <material name="">
                <color rgba="0.1 0.1 0.1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find fdrone)/urdf/meshes/RBLINK.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="rotor_1_joint" type="continuous">
        <origin xyz="0.16023 0.1589 0.11523" rpy="1.5708 0 0" />
        <parent link="base_link" />
        <child link="rotor_1" />
        <axis xyz="0 1 0" />
        <limit effort="3000" velocity="8700" />
        <dynamics damping="0.01" friction="0.001" />
    </joint>
    <link name="rotor_2">
        <inertial>
            <origin xyz="-0.15928 -0.043074 -0.15883" rpy="0 0 0" />
            <mass value="0.01" />
            <inertia ixx="0.013314" ixy="-1.3492E-05" ixz="-1.4686E-05" iyy="0.02478" iyz="-1.493E-06" izz="0.013456" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find fdrone)/urdf/meshes/LBLINK.STL" />
            </geometry>
            <material name="">
                <color rgba="0.1 0.1 0.1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find fdrone)/urdf/meshes/LBLINK.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="rotor_2_joint" type="continuous">
        <origin xyz="0.16022 -0.15891 0.11523" rpy="1.5708 0 0" />
        <parent link="base_link" />
        <child link="rotor_2" />
        <axis xyz="0 1 0" />
        <limit effort="3000" velocity="8700" />
        <dynamics damping="0.01" friction="0.001" />
    </joint>
    <link name="rotor_3">
        <inertial>
            <origin xyz="0.15853 -0.043074 -0.15882" rpy="0 0 0" />
            <mass value="0.01" />
            <inertia ixx="0.013314" ixy="-1.3492E-05" ixz="-1.4686E-05" iyy="0.02478" iyz="-1.493E-06" izz="0.013456" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find fdrone)/urdf/meshes/LTLINK.STL" />
            </geometry>
            <material name="">
                <color rgba="0.1 0.1 0.1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find fdrone)/urdf/meshes/LTLINK.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="rotor_3_joint" type="continuous">
        <origin xyz="-0.15759 -0.1589 0.11523" rpy="1.5708 0 0" />
        <parent link="base_link" />
        <child link="rotor_3" />
        <axis xyz="0 1 0" />
        <limit effort="3000" velocity="8700" />
        <dynamics damping="0.01" friction="0.001" />
	</joint>
	<gazebo>
	<plugin
		filename="gz-sim-joint-state-publisher-system"
		name="gz::sim::systems::JointStatePublisher">
		<joint_name>rotor_0_joint</joint_name>
		<topic>world/empty/model/fdrone/joint/rotor_0_joint/state</topic>
	</plugin>
	<plugin
		filename="gz-sim-joint-state-publisher-system"
		name="gz::sim::systems::JointStatePublisher">
		<joint_name>rotor_1_joint</joint_name>
		<topic>world/empty/model/fdrone/joint/rotor_1_joint/state</topic>
	</plugin>
	<plugin
		filename="gz-sim-joint-state-publisher-system"
		name="gz::sim::systems::JointStatePublisher">
		<joint_name>rotor_2_joint</joint_name>
		<topic>world/empty/model/fdrone/joint/rotor_2_joint/state</topic>
	</plugin>
	<plugin
		filename="gz-sim-joint-state-publisher-system"
		name="gz::sim::systems::JointStatePublisher">
		<joint_name>rotor_3_joint</joint_name>
		<topic>world/empty/model/fdrone/joint/rotor_3_joint/state</topic>
	</plugin>
    <plugin
		filename="gz-sim-joint-controller-system"
        name="gz::sim::systems::JointController">
		<joint_name>rotor_0_joint</joint_name>
		<topic>world/empty/model/fdrone/joint/rotor_0_joint/cmd_vel</topic>
		<use_velocity_commands>true</use_velocity_commands>
		<cmd_max>1000</cmd_max>
        <initial_position>-2.0</initial_position>
    </plugin>
    <plugin
		filename="gz-sim-joint-controller-system"
        name="gz::sim::systems::JointController">
        <joint_name>rotor_1_joint</joint_name>
		<topic>world/empty/model/fdrone/joint/rotor_1_joint/cmd_vel</topic>
		<use_velocity_commands>true</use_velocity_commands>
		<cmd_max>1000</cmd_max>
        <initial_position>-2.0</initial_position>
    </plugin>
    <plugin
		filename="gz-sim-joint-controller-system"
        name="gz::sim::systems::JointController">
        <joint_name>rotor_2_joint</joint_name>
		<topic>world/empty/model/fdrone/joint/rotor_2_joint/cmd_vel</topic>
		<use_velocity_commands>true</use_velocity_commands>
		<cmd_max>1000</cmd_max>
        <initial_position>-2.0</initial_position>
    </plugin>
    <plugin
		filename="gz-sim-joint-controller-system"
        name="gz::sim::systems::JointController">
        <joint_name>rotor_3_joint</joint_name>
		<topic>world/empty/model/fdrone/joint/rotor_3_joint/cmd_vel</topic>
		<use_velocity_commands>true</use_velocity_commands>
		<cmd_max>1000</cmd_max>
        <initial_position>-2.0</initial_position>
    </plugin>
	</gazebo>
</robot>
